<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.197816294410-cpai3cfkgd34sp2d19eckjq839830uit</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>NunitoSans_10pt-Light.ttf</string>
		<string>NunitoSans_10pt-Medium.ttf</string>
		<string>NunitoSans_10pt-SemiBold.ttf</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
